<!DOCTYPE html>
<html>
  <head>
    <title>bropher</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/todc-bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome/css/font-awesome.css"> -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,200italic,300italic,400italic,600italic' rel='stylesheet' type='text/css'>
    <%- stylesheets %>

  </head>
  <body>
    
    <%- body %>

    <%- include ../partials/footer %>
    <!-- include js -->
    
    <% if(env == 'production'){ %>
      <script src="/javascripts/lib/requirejs/require.js" data-main="/javascripts/main-built"></script>
    <% }else {%>
      <script src="/javascripts/lib/requirejs/require.js" data-main="/javascripts/main"></script>
    <% } %>
  
    <%- scripts %>
  </body>
</html>